<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main>
    <!-- <p>{{hola}}</p>
    <p v-show='user'>user show: {{user}}</p>
    <template v-if='user'>
      <p>HOla</p>
      <p>{{user}}</p>
    </template>
    <div v-for='(element, index) in elements'>
      <p>{{index}}: {{element}}</p>
    </div>
    <div v-for='(value, key, index) in objects'>
      <p>{{index}}:{{key}}: {{value}}</p>
    </div> -->
    <input type="text" v-model='user'></input>
    <input type="text" v-model='price'></input>
    <p :class='user'>completed: {{userCompleted}}</p>
    <p>completed2: {{userCompleted2()}}</p>
    <button @click='click(user)'>user!</button>
    <p>{{price | currency}}</p>
    <!--  v-on:submit='function' -->
  </main>
  <div id='el2'>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>